body
{
background-color: #D8ADAD;
}
h1
{
	text-align: center;
}
h3
{
	text-align: right;
	font-size:  120%;
	color:black;

}
.row 
{
	width: 100%;
}
span.t1{
	background-color: #D50048;
        border: 1px solid black;
}
span.t2{
	background-color: #8D00D5;
        border: 1px solid black;
}
span.t3{
	background-color: #48d500;
        border: 1px solid black;
}
.row > div
{
	background-color: #F1F1F1;
	margin: 1% 0.5% 0.5% 1%;
	border: 1px solid #C3C3C3;
	font-family:  "Calibri";
	color: #822E2E;
       box-sizing: border-box;
}

@media (min-width:  992px)
{
	.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 
	{
		float: left;
	}
.col-lg-1
{
	width:8%;
}
.col-lg-2
{
	width:16%;
}
.col-lg-3
{
	width:24%;
}
.col-lg-4
{
	width:31%;
}
.col-lg-5
{
	width:40%;
}
.col-lg-6
{
	width:48%;
}
.col-lg-7
{
	width:56%;
}
.col-lg-8
{
	width:64%;
}
.col-lg-9
{
	width:72%;
}
.col-lg-10
{
	width:80%;
}
.col-lg-11
{
	width:88%;
}
.col-lg-12
{
	width:97.5%;
}
}


@media (min-width:  768px) and (max-width: 991px)
{
	.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 
	{
		float: left;
	}
.col-md-1
{
	width:8.%;
}
.col-md-2
{
	width:16%;
}
.col-md-3
{
	width:24%;
}
.col-md-4
{
	width:31%;
}
.col-md-5
{
	width:40%;
}
.col-md-6
{
	width:48%;
}
.col-md-7
{
	width:56%;
}
.col-md-8
{
	width:64%;
}
.col-md-9
{
	width:72%;
}
.col-md-10
{
	width:80%;
}
.col-md-11
{
	width:88%;
}
.col-md-12
{
	width:97.5%;
}
}