#header-nav
{
	background-color: #FFD89A;
	border-radius: 0;
	border:0;
}
body
{
	background-color: #C7BAEE;
}
.navbar-brand div
{
	color: black;
}
.row
{
	width:100%;
	margin: auto;
	margin-bottom: 20px;
}
.row > div
{
	background-color: #F1F1F1;
	border: 1px solid #C3C3C3;
	font-family:  "Calibri";
	color: #822E2E;
       box-sizing: border-box;
       width: 95%;
       margin: auto;
}
div.visible-xs
{
	text-align: center;
	background-color: #FFE7C0;
	border: 1px solid #FFDFAD;
}
#nav-list
{
	margin-bottom: 0px;
	margin-top: 0px;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #C7BAEE;
}